body {
    position: relative;
    background-color: chartreuse;
}

.container {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;
    overflow: hidden;
    max-width: 1200px;
    height: auto;
}



.slider_items {
    width: 500%;
    height: 100%;
    display: flex;
}

.nav-text {
    display: flex;

}

.slider-text {
    position: relative;
    overflow: hidden;
    width: 500%;
    height: auto;
    display: flex;
}

.slider_items .item {
    padding: 2vh 0;
    text-align: center;
    width: 20%;
    transition: .8s;
}

.item {
    background: blue;
}

.slider_items .item img {
    max-width: 100%;
    height: auto;
    max-height: 90vh;
}

.slider_items input {
    position: absolute;
    visibility: hidden;
}

.slider-nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: right;
}


.slider-nav .slider-nav-item {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid #680606;
    margin: 7px;
    cursor: pointer;
    transition: all .5s ease;
}

.slider-nav .slider-nav-item:hover {
    background-color: #000000;
}

.slider-nav .slider-nav-item:active {
    background-color: #ff8181;
}



#s1:checked ~ .s1{
    margin-left: 0;
}

#s1:checked ~ #c1{
    background-color: #0022da;
}

#s2:checked ~ .s1{
    margin-left: -20%;
}
#s3:checked ~ .s1{
    margin-left: -40%;
}
#s4:checked ~ .s1{
    margin-left: -60%;
}
#s5:checked ~ .s1{
    margin-left: -80%;
}