body {
    background-color: chartreuse;
}

.container {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    padding-top: 5vh;
    background-color: white;
}

.slider {
    margin: 0 auto;
}

.slider_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.picture-block {
    margin: 0 auto;
    width: 70vw ;
    height: 80%;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}


/*.picture-block .s1 {*/
/*    height: 80%;*/
/*}*/
/*.picture-block .s2 {*/
/*    height: 80%;*/
/*}*/
/*.picture-block .s3 {*/
/*    height: 80%;*/
/*}*/

.picture-block img {
    object-fit: cover;
    width: auto;
    /*max-height: 100%;*/
    height: 100%;

}

.slider_items input {
    display: none;
}
.s1, .s2, .s3, .s4, .s5 {
    display: none;
}

.slider-text {
    display: inline-block;
}

/*.slider_items .item {*/
/*    transition: all .5s ease;*/
/*}*/


.slider_items input {
    position: absolute;
    visibility: hidden;
}

.slider-nav {
    display: inline-block;
}


.slider-nav .slider-nav-item {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid #680606;
    margin: 7px;
    cursor: pointer;
    transition: all .5s ease;
}
.slider-nav .slider-nav-item:hover {
    background-color: #000000;
}

.nav-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#s1:checked ~ .picture-block .s1 {
    display: block;
}
#s1:checked ~ .nav-text .slider-text .s1 {
    display: inline-block;
}
#s1:checked ~ .nav-text .slider-nav #c1 {
    background-color: #723372;
}
#s1:checked ~ .nav-text .slider-nav #c1:hover {
    background-color: #000;
}


#s2:checked ~ .picture-block .s2 {
    display: block;
}
#s2:checked ~ .nav-text .slider-text .s2 {
    display: inline-block;
}
#s2:checked ~ .nav-text .slider-nav #c2 {
    background-color: #723372;
}
#s2:checked ~ .nav-text .slider-nav #c2:hover {
    background-color: #000;
}

#s3:checked ~ .picture-block .s3 {
    display: block;
}
#s3:checked ~ .nav-text .slider-text .s3 {
    display: inline-block;
}
#s3:checked ~ .nav-text .slider-nav #c3 {
    background-color: #723372;
}
#s3:checked ~ .nav-text .slider-nav #c3:hover {
    background-color: #000;
}

#s4:checked ~ .picture-block .s4 {
    display: block;
}
#s4:checked ~ .nav-text .slider-text .s4 {
    display: inline-block;
}
#s4:checked ~ .nav-text .slider-nav #c4 {
    background-color: #723372;
}
#s4:checked ~ .nav-text .slider-nav #c4:hover {
    background-color: #000;
}

#s5:checked ~ .picture-block .s5 {
    display: block;
}
#s5:checked ~ .nav-text .slider-text .s5 {
    display: inline-block;
}
#s5:checked ~ .nav-text .slider-nav #c5 {
    background-color: #723372;
}
#s5:checked ~ .nav-text .slider-nav #c5:hover {
    background-color: #000;
}

@media (max-width: 768px) {

    .picture-block img {
        height: 100%;
        width: auto;
    }

    .slider_items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-text {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .nav-text .slider_text {
        display: block;
        width: 100%;
        text-align: left;
    }
    .nav-text .slider-nav {
        text-align: center;
    }
}