body {
    background-color: chartreuse;
}

.container {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    padding-top: 5vh;
}

.slider {
    margin: 0 auto;
}

.slider_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picture-block {
    margin: 0 auto;
    width: 70vw ;
    height: auto;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.text-item {
    font-size: 1.5rem;
    text-align: center;
    color: blue;
}

.picture-block img {
    object-fit: contain;
    width: auto;
    height: 100%;
}

.slider_items input {
    display: none;
}
.s1, .s2, .s3, .s4, .s5 {
    display: none;
}

.slider-text {
    display: inline-block;
}

.slider_items input {
    position: absolute;
    visibility: hidden;
}

.slider-nav {
    display: flex;
}

.slider-nav .slider-nav-item {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    margin: 0.7rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: all .5s ease;
    justify-content: center;
    align-items: center;
}

.nav-circle {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: 0.2rem solid #680606;
}


.slider-nav-item:hover > .nav-circle{
    background-color: #000000;
}

.nav-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#s1:checked ~ .picture-block .s1 {
    display: block;
    animation-name: slide_change;
    animation-duration: 1.5s;
}
#s1:checked ~ .nav-text .slider-text .s1 {
    display: inline-block;
    animation-name: slide_change;
    animation-duration: 1.5s;
}
#s1:checked ~ .nav-text .slider-nav #c1 .nav-circle {
    background-color: #723372;
}
#s1:checked ~ .nav-text .slider-nav #c1:hover .nav-circle {
    background-color: #000;
}


#s2:checked ~ .picture-block .s2 {
    display: block;
    animation-name: slide_change;
    animation-duration: 1.5s;
}
#s2:checked ~ .nav-text .slider-text .s2 {
    display: inline-block;
    animation-name: slide_change;
    animation-duration: 1.5s;
}
#s2:checked ~ .nav-text .slider-nav #c2 .nav-circle {
    background-color: #723372;
}
#s2:checked ~ .nav-text .slider-nav #c2:hover .nav-circle {
    background-color: #000;
}

#s3:checked ~ .picture-block .s3 {
    display: block;
    animation-name: slide_change;
    animation-duration: 1.5s;
}
#s3:checked ~ .nav-text .slider-text .s3 {
    display: inline-block;
    animation-name: slide_change;
    animation-duration: 1.5s;
}
#s3:checked ~ .nav-text .slider-nav #c3 .nav-circle {
    background-color: #723372;
}
#s3:checked ~ .nav-text .slider-nav #c3:hover .nav-circle {
    background-color: #000;
}

#s4:checked ~ .picture-block .s4 {
    display: block;
    animation-name: slide_change;
    animation-duration: 1.5s;
}
#s4:checked ~ .nav-text .slider-text .s4 {
    display: inline-block;
    animation-name: slide_change;
    animation-duration: 1.5s;
}
#s4:checked ~ .nav-text .slider-nav #c4 .nav-circle {
    background-color: #723372;
}
#s4:checked ~ .nav-text .slider-nav #c4:hover .nav-circle {
    background-color: #000;
}

#s5:checked ~ .picture-block .s5 {
    display: block;
    animation-name: slide_change;
    animation-duration: 1.5s;
}
#s5:checked ~ .nav-text .slider-text .s5 {
    display: inline-block;
    animation-name: slide_change;
    animation-duration: 1.5s;
}
#s5:checked ~ .nav-text .slider-nav #c5 .nav-circle {
    background-color: #723372;
}
#s5:checked ~ .nav-text .slider-nav #c5:hover .nav-circle {
    background-color: #000;
}

@media (max-width: 768px) {

    .picture-block img {
        height: 100%;
        width: auto;
    }

    .slider_items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-text {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .nav-text .slider_text {
        display: block;
        width: 100%;
        text-align: left;
    }
    .nav-text .slider-nav {
        text-align: center;
    }
}

@keyframes slide_change {
    0% {opacity: 0;}
    100% {opacity: 1;}
}